$white: #fff;
$black: #000;
$ligh-grey: #eaeaea;

%reset-button {
  border: 0;
  outline: none;
  background-color: transparent;
  padding: 5px 10px;
  text-align: inherit;
}

.ss-sm- {
  &disabled {
    opacity: 0.3;
    height: 90px;
    overflow: hidden;

    .playButton {
      visibility: hidden;
    }
  }

  &dropdown {
    flex: 1 1 0;
    text-align: right;
    position: relative;
  }

  &dropdown__button {
    @extend %reset-button;

    .is-open > & {
      background-color: $ligh-grey;
    }
  }

  &dropdown__content {
    text-align: left;

    background-color: $white;
    border: 1px solid $ligh-grey;
    box-shadow: 0 2px 7px rgba($black, 0.4);

    position: absolute;
    top: 100%;
    right: 0;
    z-index: 9;

    display: none;

    .is-open > & {
      display: block;
    }

    button {
      @extend %reset-button;

      display: block;
      width: 100%;

      &:hover {
        background-color: $ligh-grey;
      }
    }
  }
}
